.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/Frame_1.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-content{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(3vw,22px);

}

.header-content p{
    color: white;
    font-size: 1.3vw;
}

.header-content button{
    border: none;
    color: rgb(53, 52, 52);
    padding: 0.5vw 1vw;
    font-weight: 600;
    background-color: white;
    font-size: max(1.1vw,13px);
    border-radius: 50px;
}


/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}